<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Adar Project</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="container">
        <section class="hero">
            <h1>Welcome to {{ name }}</h1>
            <p>A modular project built with Adar Language.</p>
            
            <div class="flex-center">
                <button class="btn-primary">Get Started</button>
                <button class="btn">Documentation</button>
            </div>
        </section>
    </div>
</body>
</html>
